<div class="row pt-3 pb-2">
    <div class="col-5">
        <img class="img-fluid logo" src="../../assets/img/logopequeño.png" alt="">
    </div>
    <div class="col-7 btnSale">
        <div class="row">
        <div class="col-12">
            <button routerLink="/about" class="btn2 float-right">Quienes somos</button>
        </div> 
    </div>
    <div class="row">
        <div class="col-12">
            <button routerLink="/add" type="button" class="btn btn-danger float-right">¿Eres emprendedor?</button>
        </div> 
     </div>
    </div>
</div>