.btnSale {
    margin-top: 1.2em;
}

.btn2 {
    background: transparent;
    color: #DC3545;
    border: none;
    cursor: pointer;
}

@media (max-width: 450px) {
    .logo{
        content:url("../../assets/img/isotipo2.png")
    }
}
@media (max-width: 650px) {
    .logo{
        margin-top: 1.5em;
    }
}