.btnSale {
    margin-top: 1.6em;
}

.btn2 {
    background: transparent;
    color: #DC3545;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .logo {
        margin-top: 1em;
    }
}