.ver-lista {
    position: absolute;
    bottom: 10px;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0
}

.cat-cont i {
    font-size: 1.2rem;
    padding: 5px;
    color: white;
}

.cat-cont p {
    font-size: .8rem;
}

.cat {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}

.alimentacion {
    background-color: #D67582
}

.hogar {
    background-color: #7A82AB
}

.personal {
    background-color: #FBB7C0
}

.moda {
    background-color: #03CEA4
}

.muebles {
    background-color: #8A7090
}

.regalos {
    background-color: #F4D35E
}

.H_ib_body {
    background: #dc3545 !important;
    position: absolute !important;
    bottom: .5em !important;
    text-align: center !important;
    padding: 0 1.2em 0 0 !important;
    border-radius: .2em !important;
    margin-right: -1em !important;
    right: 0 !important;
}

.buttom-list {
    position: absolute;
    z-index: 999;
    bottom: 0;
}

.header {
    z-index: 999;
    top: 0;
    position: relative;
}

.place-name {
    font-size: 1rem;
}