.bgStart {
    background-image: url(../../assets/img/backgroundsplash2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.logo,
.btn {
    text-align: center;
    margin-top: 3em;
}

.logoinicio {
    width: 60%;
}

.gif {
    width: 10%;
}

@media (max-width: 600px) {
    .logoinicio {
        margin-top: 5em;
    }
}