<div class="bgStart">
<div class="row">
  <div class="col-md-6 mx-auto logo">
    <img src="/src/assets/img/logoinicio.png" class="logoinicio" alt="">
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto textEnter">
    <p class="text">Compra  Justo reúne productores locales, incentivando el comercio justo y haciendo crecer pequeños emprendimientos. ¿Fabricas algún producto o deseas saber dónde comprar? </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto btn">
    <button routerLink="/home" class="btnEnter">INGRESAR<i class="fas fa-caret-down"></i></button>
  </div>
</div>
 
</div>