<div class="row">
    <div class=" cat alimentacion">
        <i class="fas fa-utensils"></i>

    </div>
    <div class=" cat muebles">
        <i class="fas fa-bed"></i>

    </div>
    <div class=" cat personal">
        <i class="fas fa-crown"></i>

    </div>
    <div class=" cat">
        <i class="fas fa-gift"></i>


    </div>
    <div class=" cat hogar">
        <i class="fas fa-home"></i>

    </div>
    <div class=" cat moda">
        <i class="fab fa-pagelines"></i>
    </div>
</div>