<div class="container"></div>
<div class="col-12 col-md-7 mx-auto">
    <div class="row mt-4">
        <div class="col-3">
            <img class="img-fluid" src="../../assets/img/logopequeño.png" alt="">
        </div>
        <div class="col-9 text-right">
            <img class="cursor-p" routerLink="/map" src="../../assets/img/volver.png" alt="" width="40">
        </div>
    </div>
  <div>
    <h4>¿Qué es el comercio justo?</h4>
  </div>
  <div>
    <p>El comercio justo es una forma de comercio alternativa, basada en el diálogo, la transparencia y el respeto, que
      busca una relación comercial voluntaria, equitativa y justa entre productores y consumidores.
      Es una iniciativa para crear canales comerciales innovadores, dentro de los cuales la relación entre las partes
      se orienta al logro de desarrollo sustentable y sostenible de la oferta.
    </p>
    <div>
      <h4>Requisitos del comercio justo</h4>
    </div>
    <div>
      <ol>
        <li>Creación de oportunidades para productores y productoras en desventaja económica.</li>
        <li>Transparencia y rendición de cuentas.</li>
        <li>Relaciones comerciales justas.</li>
        <li>Pago de un precio justo.</li>
        <li>Respeto de las normas de trabajo infantil y explotación laboral.</li>
        <li>Compromiso con la equidad de género, la no discriminación y la libertad de asociación.</li>
        <li>Condiciones de trabajo y prácticas saludables.</li>
        <li>Desarrollo de Capacidades.</li>
        <li>Promoción del Comercio Justo.</li>
        <li>Respeto por el ambiente.</li>
      </ol>
      <div class="options">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Términos y
          condiciones</button>
      </div>
      <div class="options">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2">Suscripción</button>
      </div>
      <div class="options">
        <button routerLink="/add" class="btn btn-danger">Inscríbete acá</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal términos y condiciones -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Términos y condiciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur illo repellendus quaerat quisquam recusandae
        impedit quae soluta a quam tenetur vitae quos inventore molestiae eius vero, aliquam accusamus ducimus earum?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal suscripción -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suscripción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, itaque fugiat praesentium iusto modi totam odio
        fuga voluptates perspiciatis voluptatem explicabo laborum, quaerat obcaecati voluptas quidem placeat aperiam
        architecto reprehenderit.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>