.container {
  text-align: justify;
}

button {
  display: inline;
  margin: 1%;
}

p {
  text-align: justify;
}

h2 {
  text-align: center;
  color: #dc3545;
}

.options {
  text-align: center;
}

.details {
  font-size: 14px;
}

.enroll {
padding: 12px;
}