<div class="container"></div>
<div class="col-12 col-md-7 mx-auto">
  <div class="row mt-4">
    <div class="col-3">
      <img class="img-fluid" src="../../assets/img/logopequeño.png" alt="">
    </div>
    <div class="col-9 text-right">
      <img class="cursor-p" routerLink="/map" src="../../assets/img/volver.png" alt="" width="40">
    </div>
  </div>
  <div class="col-md-8 mx-auto">
      <h2>Suscripción</h2>
      <hr>
      <p>Suscríbete a Compra Justo, palataforma digital que reune a emprendedores y consumidores en una solo lugar. Con tu ayuda lograremos mantener el funcionamiento de nuestros servicios para entregar siempre las mejores opciones a nuestros usuarios.</p>
      <p>Por solo <span class="text-danger price">$20.000</span> anuales accede a estos beneficios:</p>
      <ul>
        <li>Tu emprendimiento o productos aparecerán en el mapa interactivo.</li>
        <li>Los clientes podrán acceder a información detallada de tus productos.</li>
        <li>Los clientes podrán contactarte por medio de la información de contacto que</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="options">
      <a class="details" href="" data-toggle="modal" data-target="#exampleModal">Términos y
        condiciones</a>
      <div>
        <button routerLink="/add" class="btn btn-danger enroll">Suscríbete <i class="fas fa-check"></i></button>
      </div>
    </div>
  </div>

<!-- Modal términos y condiciones -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Términos y condiciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Creación de oportunidades para productores y productoras en desventaja económica.</li>
          <li>Transparencia y rendición de cuentas.</li>
          <li>Relaciones comerciales justas.</li>
          <li>Pago de un precio justo.</li>
          <li>Respeto de las normas de trabajo infantil y explotación laboral.</li>
          <li>Compromiso con la equidad de género, la no discriminación y la libertad de asociación.</li>
          <li>Condiciones de trabajo y prácticas saludables.</li>
          <li>Desarrollo de Capacidades.</li>
          <li>Promoción del Comercio Justo.</li>
          <li>Respeto por el ambiente.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>