<div class="bg-white shadow p-4  mb-2 row">
    <div class="col-4">
        <img src="{{place.image}}" class=" shadow img-fluid" />
    </div>
    <div class="col-8">
        <p>{{place.product}}</p>
        <p>Estas a {{place.distance}} km</p>
        <span class="btn-light text-dark rounded p-1 text-white border">{{place.category}}</span>
        <button type="button" class="btn  btn-sm btn-danger d-block mt-2" data-toggle="modal" [attr.data-target]="'#'+place.key">
  info</button>

        <div class="modal fade" id="{{place.key}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content p-4 ">
                    <h3 class="text-center">{{place.product}}</h3>
                    <div class="row data-place">
                        <div class="col-3">
                            <img src="{{place.image}}" class="shadow  img-fluid" />
                        </div>
                        <div class="col-9">
                            <p>{{place.name}}</p>
                            <p><i class="fas fa-phone p-1 text-danger"></i>{{place.phone}}</p>
                        </div>
                    </div>
                    <div class="text-center pt-2">
                        <p>{{place.description}}</p>

                        <p><i class="fas fa-map-marker-alt p-1 text-danger"></i>puma 1180, Santiago, Chile</p>
                        <button (click)="routing(place.l)" class="btn bg-danger text-white">Como llegar</button>
                        <button type="button" class="btn btn-light"><i class="fas fa-truck"></i> Servicio a  Domicilio</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>